{%extends 'inventory/base.html'%}
{%load static %}


{%block content%}
<div class="container">


<div class="card col-lg-6 justify-content-center ">
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                   <strong>Product: </strong> {{orderform.product}}
                </li>
                <li class="list-group-item">
                    <strong>Customer: </strong> {{orderform.customer}}
                 </li>
                 <li class="list-group-item">
                    <strong>Order Status: </strong> {{orderform.order_status}}
                 </li>
                 <li class="list-group-item">
                    <strong>Notes: </strong> {{orderform.notes}}
                 </li>
            </ul>
            {{form.media.js}}
            <input type="submit" value="Add Order">
        </form>

    </div>
    

</div>
</div>




{%endblock%}